* 
{   margin: 0;
    padding: 0 ;
}
/*-----------Nav------------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10 ;
 }
 .navbar-brand h
 {
     height: 25px;
     padding-left: 30px;
     
 }
 .navbar-nav li
 {
     padding: 0 10px;
 }
 .navbar-nav li a
 {
     float: left;
     text-align: center;
 }
 #nav-bar ul li a:hover
 {
   color: #007bff!important;  
 }
 .navbar{
     background: #fff;
 }
 .navbar-toggler
 {
    border : none!important;
}
.nav-link
{
    color:#555!important;
    font-weight: 600;
    font-size: 16px;
}


#c3 {
    background-image: url("8.jpg");
    background-size : cover ;
    background-position : center;
    color : white !important ;
    background-attachment:fixed ;
    text-align: center;
}
#c4 {
    background-image: white;
    background-size : cover ;
    background-position : center;
    color : #efefef !important ;
    background-attachment:fixed ;
    padding-top :50px;
    padding-bottom:50px;
    text-align: center;
}
#c4 h1
{
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 10px;
}
#c4 h3
{
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 10px;
}
#c4 p
{
    color: #4a4a4a;
}
#c4 h1::after
{
    content: '';
    background: white;
    display: block;
    height:3px;
    width:170px;
    margin : 20px auto 5px;
}
#triangle{
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-top: 36.6px solid #ea5b31;
    filter: drop-shadow(0 2px 4px rgba(22,22,24,.25));
    position: absolute;
    right: calc(50% - 65px);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#footer
{
    background: #333;
    color:#fff;
    padding : 12px;
}
#conc {
    background-color:#ea5b31 ;
    background-size : cover ;
    background-position : center;
    color : #efefef !important ;
    background-attachment:fixed ;
    padding-top :50px;
    padding-bottom:50px;
    text-align: center;
}
#conc h1{
    text-align:center; 
    color :white;
}

.pub{
    width: 299px;
    height: 350px;
}

.col-sm{
    text-align: center;
}
#pop{
    background-color:#ea5b31;
    opacity: 0.9;
    padding-top :50px;
    padding-bottom:50px;
}
#button-addon2{
    background-color:#333!important ;
    
}